{% extends "layouts/base.html" %}

{% block title %} Detail History Deteksi Dini Depresi {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title">Detail History Deteksi Dini Depresi</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tanggal</label>
                          <input type="text" class="form-control" value="23 Maret 2021" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Hasil</label>
                          <input type="text" class="form-control" value="Depresi Sedang" disabled="true">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title ">Daftar Pertanyaan & Jawaban</h4>
                  <!-- <p class="card-category"> *klik detail untuk melihat lebih jauh</p> -->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          No
                        </th>
                        <th>
                          Pertanyaan
                        </th>
                        <th>
                          Jawaban
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Apakah Anda merasa putus asa?
                          </td>
                          <td>
                            Setuju
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            Apakah Anda sempat berfikir untuk bunuh diri?
                          </td>
                          <td>
                            Sangat Setuju
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            Apakah Anda merasa lelah/ kurang bertenaga?
                          </td>
                          <td>
                            Tidak Setuju
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
