{% extends "layouts/base.html" %}

{% block title %} Edit Aktivitas Pencegahan Depresi {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title">Edit Aktivitas Pencegahan Depresi</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Judul</label>
                          <input type="text" class="form-control" value="Membaca Untuk Menghindari Depresi">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cover</label>
                          <img src="/static/assets/img/6.png" style="height: 100px; width: 100px" class="form-control">
                        </div>
                        <input type="file">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Isi</label>
                          <textarea class="form-control" rows="10">

Depresi adalah masalah yang berhubungan dengan suasana hati dengan pertanda berupa perasaan sedih dan rasa tidak peduli. Seseorang yang mengidap gangguan ini dapat mengalami perasaan tersebut dalam waktu yang lama dan sangat butuh bantuan dari ahli medis. Bahkan, pengidapnya mungkin saja mengalami masalah terkait aktivitas harian yang harus dilakukan dan terkadang memiliki keinginan untuk mengakhiri hidupnya.

Baca juga: Depresi Tersembunyi, Menutupi 4 Gangguan Psikologi Ini

Maka dari itu, setiap orang harus tahu cara mencegah depresi sebelum terjadi dan menimbulkan banyak masalah. Ada banyak cara yang dapat dilakukan untuk mencegah gangguan tersebut dan salah satu yang belakangan ini dikabarkan efektif adalah hobi membaca buku. Namun, benarkah hal tersebut dapat efektif untuk mencegah terjadinya depresi?

Faktanya, seseorang yang memiliki hobi membaca memiliki risiko lebih kecil untuk mengalami depresi dan beberapa masalah yang dapat menyebabkan hal tersebut. Berikut ini beberapa poin yang dapat kamu rasakan terkait manfaat membaca:

1. Mengurangi Rasa Stres
Semua orang tahu stres yang berlebihan dapat menyebabkan depresi. Salah satu cara untuk menguranginya adalah dengan membaca buku karena dapat menenangkan yang sama seperti saat kamu berolahraga atau mendengarkan lagu favorit. Kamu dapat membaca buku yang menimbulkan rasa bahagia sehingga beban yang ada terasa berkurang. Cerita dan kata-kata memang memiliki kekuatan untuk menyembuhkan pikiran manusia.

Baca juga: 5 Penyebab Depresi yang Sering Diabaikan

2. Mengurangi Rasa Cemas
Seseorang yang memiliki hobi membaca dapat membantu pikiran agar dapat menahan segala hal yang dapat memicu kecemasan pada pikiran dan memiliki efek untuk menenangkan otak. Selain itu, membaca juga dapat mengurangi perasaan terasing dan kesepian. Dengan berkurangnya segala perasaan tersebut, beberapa masalah yang terkait kesehatan mental, seperti kecemasan dan depresi dapat benar-benar ditekan.

3. Meningkatkan Kualitas Tidur
Di zaman ini, kebanyakan orang lebih banyak menghabiskan waktu di depan laptop dan ponsel yang dapat membuat pikiran dan tubuh terasa lelah. Padahal dengan membaca buku, tidak ada dampak radiasi berbahaya yang dapat timbul dan juga tidak dapat merusak saraf. Dengan membaca, kamu dapat membuat otak menjadi lebih rileks dan tidur menjadi lebih cepat. Jika seseorang memiliki otak yang sehat, maka kesehatan mental juga terjaga yang dapat menjadi cara mencegah depresi.

Maka dari itu, cobalah untuk membiasakan diri untuk membaca buku karena selain mencegah terjadinya depresi, masih banyak manfaat lainnya yang kamu dapatkan. Kamu juga dapat menambah kecerdasan dengan melakukan hobi tersebut. Selain itu, kamu juga dapat melakukan hal tersebut sekaligus mengajarkan anak terkait hobi yang baik tersebut.

Baca juga: Ini 7 Jenis Depresi yang Perlu Diketahui

Jika kamu ingin mengetahui cara lainnya untuk mencegah gangguan depresi, psikolog atau psikiater dari Halodoc siap membantu kapan dan di mana saja. Caranya cukup mudah, hanya dengan download aplikasi Halodoc, kamu bisa mendapatkan kemudahan terkait akses kesehatan hanya dengan menggunakan smartphone-mu. Gunakan aplikasinya sekarang juga!
                          </textarea>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
